body { 
	background-color:Peru;
 	text-align:left; 
	color:black; 
} 

h1 { 
	text-align:center; 
	background-color:red !important; 
} 

.backcolor { 
	background-color:gold; 
}

#tableheader { 
	font-weight:bold; 
	font-style:italic; 
	background-color:red; 
}

img	{ 
	width:300px; 
	height:200px; 
	border: 3px solid #DC1345;
	display: block;
    	margin-left: auto;
    	margin-right: auto;
	} 

.footer { 
	font-size:10px; 
}

